<h1>Turn Your Numbers Into Words!!!!!!</h1>
<form action="/numberpage" method="post">
  <label for="number">Please Enter your number separated by commas (i.e. 1,234,567):</label>
  <input id="number" name="number" type="text">
  <button type="submit">Transform!</button>
</form>